body {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(85, 28, 85);
}

li a {
    border-radius: 25px;
    padding: 9px;
    margin: 35px;
    background-color: rgb(85, 28, 85);
    
    color: rgb(216, 213, 213);
}

a:hover {
    text-shadow: 0px 0px 9px rgb(255,255,255);
    color: rgb(255, 255, 255);
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

header {
    font-size: 30px;
    text-shadow: 0px 0px 2px rgb(255,255,255);
    color: white;
}

th, td {
    padding-right: 1em;
}

td {
    text-align: left;
}

table {
    margin-bottom: 2em;
}

#p1 {
    color: red;
}
#p2 {
    color: rgb(255, 255, 255);
    padding: 3%;
}


#loginContainer {
    padding: 16px;
    text-align: center;
    /* position: fixed; */
    top: 50%;
    margin: 10% auto 0 auto;
}

#nav {
    margin: auto;
    margin: bottom 25px;
    padding: auto;
    position: fixed;
    height: 45px;
    /* background-color: ; */
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px 12px 18px rgba(19, 0, 182, 0.3);
    z-index: 1000000;
    background-color: white;
}

#nav-content {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

#main {
    font-size: 140%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    min-height: 100vh;
}

#content {
    
    text-align: center;
    font-size:50;
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.center {
    text-align: center;
}
/* The animation code */
@keyframes slide {
    0%   {right:7000px; }
    25%   {right:300x; }
    50%  { right:200px; }
    75%  {right:100px;}
    100%  {right:0px; }
  }
  div {
    width: 200x;
    height: 25px;
    animation-name: slide;
    animation-duration: 2.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;};
   

    #triangle-up {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid red;
      }

    #triangle-down {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid rgb(24, 0, 243);
      }