body {
    font-family: 'Titillium Web', sans-serif;
}

li a {
    text-decoration: none;
}

header {
    padding-top: 60px;
}

#nav {
    margin: auto;
    padding: auto;
    position: fixed;
    height: 45px;
    /* background-color: ; */
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px 12px 18px rgba(19, 0, 182, 0.3);
    z-index: 1000000;
}

#nav-content {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

#main {
    font-size: 140%px;
    margin-left: 1em;
    margin-right: 1em;
}

.center {
    text-align: center;
}

